/aclocal.m4
/autom4te.*
/compile
/config.*
/configure
/COPYING
/depcomp
/INSTALL
/install-sh
/libmpris2client.pc
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/src/.deps/*
/src/*.la
/src/*.o
/src/*.lo
/src/.libs/*
/src/Makefile
/src/Makefile.in
/stamp-h1
